<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body id="show-page">
    <h1 id="shop-name"><a href="/bkbikes/">BROOKLYN BIKES</a> </h1>
    <h1>Custom Bikes</h1>
    <% for (let i = 0; i < bikes.length; i++) { %>
      <% if (bikes[i].category == 'Custom') { %>
        <div class="bike-card1">
          <a href="/bkbikes/<%=bikes[i].id%>"><img src="<%=bikes[i].image%>" width='150px' height='250px' alt="<%=bikes[i].title%>" class="bikes-images"></a>
          <div class="overlay">
            <div class="text"><a href="/bkbikes/<%=bikes[i].id%>"><%=bikes[i].manufacturer%> <%=bikes[i].model%></a></div>
            </div>
          </div>
        </div>
      <% } %>

    <% } %><br><br>
    <form class="" action="/bkbikes/new">
      <button type="submit" >ADD NEW BIKE</button>
    </form><br><br>
    <form action="/bkbikes/">
      <button type="submit">BACK</button>
    </form>
  </body>
</html>
