<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>
    <div id="edit-page">
      <h1>Edit <%=bike.year%> <%=bike.manufacturer%> <%=bike.model%></h1><br>
      <form action="/bkbikes/<%=bike.id%>?_method=PUT" method="POST">
          <select name="category" required="required" placeholder="<%=bike.category%>*">
            <option value="Road">Road</option>
            <option value="Mountain">Mountain</option>
            <option value="Gravel">Gravel</option>
            <option value="Custom">Custom</option>
          </select><br>
          <input type="text" name="manufacturer" required="required" placeholder="<%=bike.manufacturer%>*"><br>
          <input type="text" name="model" required="required" placeholder="<%=bike.model%>*"><br>
          <input type="number" name="year" placeholder="<%=bike.year%>"><br>
          <input type="text" name="image" required="required" placeholder="<%=bike.image%>*"><br>
          <input type="text" name="tags" placeholder="<%=bike.tags%>"><br>
          <input type="submit" value="SUBMIT">
      </form>
      <form action="/bkbikes/<%=bike.id%>">
        <button type="submit">BACK</button><br><br>
      </form>
    </div>
  </body>
</html>
