<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>
    <h1>Leave a Review of <%=bike.manufacturer%> <%=bike.model%></h1>
    <form action="/review/<%=bike.id%>" method="POST">
      <input hidden type="text" name="id" value="<%=bike.id%>"><br>
      <input type="text" name="name" placeholder="your name"/><br/>
      <textarea name="review" placeholder="your review"></textarea><br/>
      <input type="submit" value="Publish Review"/>
    </form>
    <form class="" action="/bkbikes/<%=bike.id%>">
      <button type="submit" name="button">RETURN</button>
    </form>
  </body>
</html>
