<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> <%=bike.model%> </h1><br>
    <img src="<%=bike.image%>" alt=""><br>
    <h2> <%=bike.manufacturer%> </h2><br>
    <h4> <%=bike.year%> </h4><br><br><br>
    <form action="/review/<%=bike.id%>">
      <button type="submit">LEAVE REVIEW</button>
    </form><br>
    <form action="/bkbikes/edit/<%=bike.id%>">
      <button type="submit">EDIT BIKE</button>
    </form><br>
    <form action="/bkbikes/<%=bike.id%>?_method=DELETE" method="POST">
      <button type="submit">DELETE BIKE</button>
    </form><br>
    <form action="/bkbikes">
      <button type="submit">BACK</button>
    </form>
  </body>
</html>
