<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body id="show-page">
    <h1><%=bike.manufacturer%> <%=bike.model%> </h1><br>
    <img src="<%=bike.image%>" id="show-bike-image"><br>
    <h2><%=bike.year%> </h2><br><br>
    <h2>REVIEWS:</h2>
    <table id="show-table">
    <% for (let i = 0; i < bike.reviews.length; i++) { %>

        <tr>
          <td><h2><%=bike.reviews[i].name%> says</h2> </td>
          <td><%=bike.reviews[i].review%></td>
        </tr>

    <% } %>
    </table><br>
    <form action="/review/<%=bike.id%>">
      <button type="submit">LEAVE REVIEW</button>
    </form><br>
    <form action="/bkbikes/edit/<%=bike.id%>">
      <button type="submit">EDIT BIKE</button>
    </form><br>
    <form action="/bkbikes/<%=bike.id%>?_method=DELETE" method="POST">
      <button type="submit">DELETE BIKE</button>
    </form><br>
    <form action="/bkbikes/<%=bike.category%>">
      <button type="submit">BACK</button><br><br>
    </form>
  </body>
</html>
